* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#nav-bar {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 2000;
}

#input-trial-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-trial-feedback-letter {
    background-color: grey;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 200%;
}

#wikipedia-iframe {
    height: 800px;
    width: 80%
}

.section {
    min-height: 60vh;
    width: 100%;
    padding: 0 10%;
}

.game-settings-collumn {
    text-align: left;
}

.game-settings-collumn>* {
    width: 100%;

}

.game-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-toolbar .hangman-keypad-buttons {
    border: solid 1px black;
    margin: 1px;
}

#word-junction-col {
    position: flex;
    align-items: center;
    justify-content: center;
}

.game-settings-form .btn-group,
.text-input-guess-word,
.submit-settings-button,
#reset-word-button,
#restart-game-button,
#try-new-game-button {
    width: 100%;
}

.text-input-guess-word {
    text-align: center;
}


#navbar-example2 {
    position: fixed;
    top: 0;
}

#introductory-section {
    padding-top: 30vh;
}

#hangman-lottie-container {
    width: 100%;
    height: 100%;
}

#hangman-animation-wrapper {
    width: 100%;
    height: 900px;
}


.puzzle-span-letter {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 3%;
}

.puzzle-span-space {
    display: inline-block;
    font-size: 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 3%;
}

#word {
    height: 100px;
}