* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#nav-bar {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 2000;
}



.section {
    height: 100vh;
    width: 100%;

}

.game-settings-collumn {
    text-align: left;
}

.game-settings-collumn>* {
    width: 100%;

}

.game-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#word-junction-col {
    position: flex;
    align-items: center;
    justify-content: center;
}

.game-settings-form .btn-group,
.text-input-guess-word,
.submit-settings-button,
#reset-word-button,
#restart-game-button,
#try-new-game-button {
    width: 100%;
}

.text-input-guess-word {
    text-align: center;
}



#navbar-example2 {
    position: fixed;
    top: 0;
}

#introductory-section {
    padding-top: 30vh;
}

.puzzle-span-letter {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 3%;
}

.puzzle-span-space {
    display: inline-block;
    font-size: 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 3%;
}

#word {
    height: 100px;
}